.blackRows {

    width: 893px;
    min-height: 150px;
    margin-left: 169px;
    display: inline-block;
    vertical-align: top;

    h5{
        background-color: black;
        color:white;
     }
     h6{
        
            color: rgb(0, 0, 0);
            display: inline-block;
            vertical-align: top;
        }
     
}

 
 