.pinkrows
{
    
    width: 600px;
    min-height: 150px;
    margin-left: -6px;
    display: inline-block;
    vertical-align: top;
    h5{
        background-color:rgb(236, 165, 233);
     }
 
}