* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px solid;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    flex-wrap: nowrap;
    padding: 10px;
}

/* FlexCss */
header {
    max-height: 100vh;
    border: 1px solid; 
    display: flex;
    justify-content: center;
}

nav {
    height: 78vh;
    display: flex;
    flex-direction: column; 
    padding: 10px;
    border: 1px solid;
}
    nav a{
        font-size: 20px;
        align-items: center;
        margin: auto;
}
main {
    display: flex;
    flex-direction: row;
     flex-wrap: wrap;
}
section.mainSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}
    section .sectionProfileAndTable{
        display: flex;
        flex-direction: row;
        border: 1px solid;
        }
        section .figureProfile{
            display: flex;
            flex-direction: column;
            padding: 5px;
            flex-grow: 0.2;
            align-items: center;
        }
            section .figureProfile .profilePic{
                height: 150px;
                width: 150px;
            }
                section .otherPic .pic1, .pic2{
                    height: 70px;
                    width: 70px; 
                    border: 1px solid;
                }
                section .otherPic .pic2 {
                    margin-left: 70px;
                }
        table {
            align-self: center;
            margin: auto;
            padding: 2px;
            border: 1px solid;
        }
            table th,td {
                padding: 20px;
                border: 1px solid;
            }

    section.details {
        display: flex;
        flex-direction: column;
        align-self: center;
        margin: auto;
        width: 50vw;
        padding: 10px;
        border: 1px solid;
    }
footer {
    height: 10vh;
    border: 1px solid;
}

@media only screen and (max-width: 798px)
{
    
    nav {
        height: 10vh;
        display: flex;
        flex-direction: row; 
        padding: 10px;
        border: 1px solid;
        margin: auto;

    }
    .mainSection {
        display: flex;
        flex-direction: column;
    }
    .sectionProfileAndTable {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    header h1{
        font-size: 18px;  
    }
    table {
        visibility: hidden;
    }
    
}

@media only screen and (min-width: 1023px)
{
    nav {
        height: 10vh;
        display: flex;
        flex-direction: row; 
        padding: 10px;
        border: 1px solid;
        margin: auto;   
    }
    .mainSection {
        display: flex;
        flex-direction: column;
    }
    .sectionProfileAndTable {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    header h1{
        font-size: 18px;  
    }
    
}