body
{
    background-color: rgb(250, 221, 158);
    color: rgb(253, 253, 253);
}


.header {
    width: 1100px;
    height: 55px;
    margin: 0px auto;
}
    .header h5{
     
        color: rgb(0, 0, 0);
        height: 15px;
        width: 15px;
        margin-top: 0px;
        display: inline-block;
        vertical-align: top;
        padding: 20px;
        border: 0px;
    }
            .sideNumbers 
        {
            width: 55px;
            min-height: 150px;
            margin-left: 53px;
            display: inline-block;
            vertical-align: top;
        }

        .sideNumbers h5
    {
        color: rgb(0, 0, 0);
        height: 15px;
        width: 15px;
        margin-top: 3px;
        margin-bottom: 3px;
        display: inline-block;
        vertical-align: top;
        padding: 20px;
        border: 0px;
    }

        .blueColumn
    {
        width: 120px;
        min-height: 150px;
        margin-left: 6px;
        display: inline-block;
        vertical-align: top;
    }

        .blueColumn h5
        {   

        background-color: rgb(180, 11, 62);
    
        }

        .pinkrows
    {
        width: 600px;
        min-height: 150px;
        margin-left: -6px;
        display: inline-block;
        vertical-align: top;
    }

            .pinkrows h5
        {
        background-color: rgb(235, 140, 212);
   
        }

    .yellowrow
    {
        width: 352px;
        min-height: 150px;
        margin-left: -14px;
        display: inline-block;
        vertical-align: top;
    }

            .yellowrow h5
            {
                background-color: rgb(134, 162, 241);
        
            }   
        
        .greenrows
        {
            width: 893px;
            min-height: 150px;
            margin-left: 169px;
            display: inline-block;
            vertical-align: top;
        }

        .greenrows h5
    {
        background-color: rgb(0, 0, 0);
       
    }
        .greenrows h6
        {
            color: rgb(0, 0, 0);
            display: inline-block;
            vertical-align: top;
        }

        .greenrows #actinoids
        {
            padding-right: 14px;
        }
#hide
{
    background-color: rgb(250, 221, 158);
    border: 0px;
    width: 15px;
    height: 15px;
}

h5
{
    height: 13px;
    width: 13px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
}