*{
    padding:0;
    margin:0;
    scroll-behavior:smooth;
    scroll-snap-type: y mandatory;
}
@keyframes Imagetrans{
    from{
        height:1px;
        width:1px;
        margin-left:100%;
        margin-top:10%;
        opacity:.3;
    }
    to
    {
        width:70%;
        height:40%;
        opacity:1;
    }
}
@keyframes Skilltrans{
   from{
        height:1px;
        width:1px;
        margin-bottom:10px;
        opacity:.3;
    }
    to
    {
        opacity:1;
    }
}
@keyframes IntroTrans{
    from{
        height:1px;
        width:1px;
        margin-right:100%;
        margin-bottom:10px;
    }
    to
    {
        width:70%;
        height:80%;
        opacity:1;
    }
}    
@keyframes typewriter{
    to{
        left:100%;
    }
}
@keyframes blink{
    to{
        background:transparent;
    }
}
@keyframes fadeup{
    to{
        opacity:1;
        margin-bottom:0%;
    }
}
@keyframes boarderblink{
    from{
        border:5px solid transparent;
    }
    to{
        border: 5px solid rgba(133, 4, 4, 0.884);
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
@keyframes socialdrop {
    to{
        display:flex;
        flex-direction: row;
        margin-top:5%;
        width: 50%;
        justify-content: space-between;
        opacity:1;
    }
}
@keyframes cursor{
    from{
        transform:scare(1);
    }
    to{
        transform:scale(.7);
    }
}
@keyframes cursor2{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(.4);
    }
}
@keyframes cursor3{
    0%{
        transform:scale(1);
    }
    50%{
        transform:scale(3);
    }
    100%{
        transform:scale(1);
        opacity:0
    }
}
@keyframes pulseAnimate{
    100%{
        opacity:0;
        transform: scale(2);
    }
}
@-webkit-keyframes spin{
    from{
        -webkit-transform: rotateY(0deg);
        transform:rotateY(0deg);
    }
    to{
        -webkit-transform:rotateY(360deg);
        tranform:rotateY(360deg);
    }
}
@keyframes spin{
    from{
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to{
        -webkit-transform:rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes spinRevert{
    from{
        -webkit-transform: rotateY(360deg);
        transform:rotateY(360deg);
    }
    to{
        -webkit-transform:rotateY(360deg);
        tranform:rotateY(0deg);
    }
}
@keyframes spinRevert{
    from{
        -webkit-transform: rotateY(360deg);
        transform:rotateY(360deg);
    }
    to{
        -webkit-transform:rotateY(360deg);
        tranform:rotateY(0deg);
    }
}
body{
    height:100vh;
    cursor:none;
    overflow:inherit ; 
    display: -webkit-box;
    display:ms-flexbox;
    display: flex;
    /* -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; */
}
#preloader{
    background:rgba(10, 9, 9, 0.932) url(../images/loading.gif) no-repeat center center;
    height:100vh;
    width:100%;
    position: fixed;
    z-index:100;
}
#myVideo{
    position:fixed;
    width:100vw;
    height:100vh;
    background-image:linear-gradient(black,rgb(12, 1, 1));
}
.cursor{
    width:30px;
    height: 30px;
    border: 1px solid white;
    border-radius:50%;
    position: absolute;
    transition-duration:200ms;
    transition-timing-function:ease-out;
    animation: cursor .5s infinite alternate;  
    z-index: 1;
}
.cursor::after{
    content:"";
    width:30px;
    height:30px;
    position:absolute;
    border:8px solid gray;
    border-radius:50%;
    opacity: .5;
    animation: cursor2 .5 infinite alternate;
    left:-1px;
    top:-1px;
}
.expand{
    animation: cursor3 .5s forwards;
    border:1px solid red;
}
.reveal{
    position:relative;
    opacity:0;
    transition: all 2s ease;
}
.reveal.active{
       opacity:1;
}
main{
    height:100vh;
    width:100%;
}
aside{
    width:5%;
    height:100%;
    z-index: 1;
    display: flex;
    position: fixed;
    justify-content: center;
    padding: 15% 0;
}
aside ul{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
aside ul li{
    display:flex;
    color: white;
    font-weight: bold;
}
aside ul li:hover{
    padding: 5px;
    font-size:25px;
    transition: 0.5s;
    border-radius: 30px;
}
aside ul li.active{
    padding: 5px;
    font-size:25px;
    transition: 0.5s;
    border-radius: 30px;
    color:rgb(red rgb(14, 15, 14), rgb(144, 144, 146));
}
.maincontainer1{
    display:flex;
    flex-direction:row;
    width:100%;
    height:100vh;
    scroll-snap-align: center;
}
.leftcontainer{
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rightcontainer{
    display:flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}
.profpic{
    display:flex;
    animation: Imagetrans 2s ease-in-out .5s 1 normal forwards, boarderblink 500ms ease infinite;
    width:70%;
    height:40%;
    background-color:rgb(46, 43, 43, 0.8);
    background-blend-mode:hard-light;
    opacity: 0;
    box-shadow: 5px 10px 18px red;
}
.maincontainer1 .profpic img{
    height:100%;
    width:100%;
}
div.socials{
    display:flex;
    flex-direction: row;
    margin-top:5%;
    width: 50%;
    justify-content: space-between;
    opacity:0;
    animation:socialdrop 2s ease 11s forwards;
    z-index:1;
}
.socials a{
    width: 60px;
    height: 60px;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials a:hover{
    width:100px;
    height:100px;
    transition:.5s;
    cursor:none;
}
div.socials a::before{
    content: "";
    background-image: conic-gradient(
        #e40b0bf8 20deg,
        transparent 120deg
    );
    width: 150%;
    height: 150%;
    position: absolute;
    animation: rotate 2s linear infinite;
}
div.socials a::after{
    content:url("../images/facebook.png");
    width: 50px;
    height: 50px;
    background: #101010;
    position: absolute;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e40b0bf8;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 22x 20px 20px #0000008c;
}
div.socials a:nth-child(2)::after{
    content:url("../images/instagram.png");
    width: 50px;
    height: 50px;
    background: #101010;
    position: absolute;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e40b0bf8;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 22x 20px 20px #0000008c;
}
div.socials a:nth-child(3)::after{
    content:url("../images/github.png");
    width: 50px;
    height: 50px;
    background: #101010;
    position: absolute;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e40b0bf8;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 22x 20px 20px #0000008c;
}
div.socials a:nth-child(4)::after{
    content:url("../images/linked.png");
    width: 50px;
    height: 50px;
    background: #101010;
    position: absolute;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e40b0bf8;
    font-size: larger;
    letter-spacing: 5px;
    box-shadow: inset 22x 20px 20px #0000008c;
}
.aboutme{
    animation: IntroTrans 1s ease-in-out 2s 1 normal forwards, boarderblink 500ms ease infinite ;
    width:70%;
    height:80%;
    background-color:rgb(0, 0, 0);
    background-blend-mode:hard-light;
    opacity: 0;
    text-align:center;
    position:relative;
    display:grid;
    place-content:center;
    justify-content: center;
    box-shadow: 5px 10px 18px red;
}
.aboutme h1{    
    font-size:30px;
    margin-top:20%;
    margin-left:15%;
    color:white;
    font-family:"Source Code Pro",monospace;
    position:absolute;
}
.aboutme h1::before,
.aboutme h1::after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.aboutme h1::before{
    background: black;
    animation:typewriter 4s steps(25) 4s forwards;
}
.aboutme h1::after{
    width:0.125em;
    background:white;
    animation:typewriter 4s steps(25) 4s forwards,blink 750ms steps(25) 4s infinite;

}
.aboutme h3{    
    font-size:20px;
    margin:2% 5%;
    color:white;
    text-align: left;
    font-family:"Source Code Pro",monospace;
    opacity:0;
    margin-bottom: -15%;
    animation: fadeup 2s ease 9s forwards;
}
.maincontainer2{
    display:flex;
    width:100%;
    height:100vh;
    justify-content: center;
    scroll-snap-align: center;
}
.skills{
    position: relative;
    display:flex;
    animation: Skilltrans 1s ease-in-out;
    width:90vw;
    height:100vh;
    background-repeat:no-repeat;
    box-shadow: 5px 10px 18px rgb(240, 233, 233);
    margin-left:1%;
    align-items: center;
    justify-content: center;
}
.icons{
    position:absolute;
    height:100%;
    width:100%;
}
.icons img{
    height:50px;
    width:50px;
    position:absolute;
    border-radius: 50%;
    z-index:1;
}
.icons img:nth-child(1){
    position:absolute;
    top:20%;
    left:50%;
    animation:pulseAnimate 4s ease-out infinite 200ms;
}
.icons img:nth-child(2){
    top:10%;
    left:30%;
    animation:pulseAnimate 4s ease-out infinite 800ms;
}
.icons img:nth-child(3){
    top:25%;
    left:15%;
    animation:pulseAnimate 4s ease-out infinite 1.4s;
}
.icons img:nth-child(4){
    top:5%;
    left:80%;
    animation:pulseAnimate 4s ease-out infinite 1.6s;
}
.icons img:nth-child(5){
    top:40%;
    left: 75%;
    animation:pulseAnimate 4s ease-out infinite 1s;
}
.icons img:nth-child(6){
    top:80%;
    left:40%;
    animation:pulseAnimate 4s ease-out infinite 1.2s;
}
.icons img:nth-child(7){
    top:65%;
    left:15%;
    animation:pulseAnimate 4s ease-out infinite 600ms;
}
.icons img:nth-child(8){
    top:70%;
    left:65%;
    animation:pulseAnimate 4s ease-out infinite 1.8s;
}
.icons img:nth-child(9){
    top:75%;
    left:85%;
    animation:pulseAnimate 4s ease-out infinite 800ms;
}
.icons img:hover{
    animation-play-state: paused;
    cursor: pointer;
    border:2px solid white;
}
.popup{
    width:45%;
    background: #fff;
    border-radius: 6px;
    position:absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align:center;
    padding: 0 30px 30px;
    color: #333; 
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    z-index: 5;
}
.popup img{
    width: 75px;
    height: 75px;
    margin-top:-50px;
    border-radius: 50%;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
}
.popup h2{
    font-size: 40px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 20%;
    margin-top: 50px;
    padding: 10px 0;
    background:rgba(133, 4, 4, 0.884);
    color: #fff;
    border:0;
    outline:none;
    font-size: 18px;
    border-radius:4px;
    cursor: pointer;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.5);
}
.hi-slide{
    position:relative;
    width:754px;
    height:292px;
    border-radius:50px;
    margin: 115px auto 0;
}
.hi-slide .hi-next{
    position:absolute;
    top: 60%;
    width: 40px;
    height: 35px;
    margin-top: -15px;
    border-radius: 15px;
    line-height: 40px;
    text-align: center;
    cursor: none;
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}
.hi-slide .hi-next:hover{
    opacity: 1;
    font-size:25px;
}
.hi-slide .hi-next{ 
    right:48%;
}
.hi-slide .hi-next::before{
    content:"next";
    color:White;
}
.hi-slide > ul{
    list-style:none;
    position: relative;
    width: 754px;
    height: 292px;
    margin:0;
    padding:0;
}
.hi-slide > ul > li{
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin:0;
    padding:0;
    cursor: pointer;
    border: 3px solid white;
}
.hi-slide > ul > li > img{
    width:100%;
    height:100%;
    background-position:center;
}
.hi-slide > ul > li:hover{
    background-position:center;
    border: 3px solid red;
}
.full-img{
    width:100%;
    height:100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left:0;
    display:none;
    align-items: center;
    justify-content: center;
    z-index:10;
    padding: 10% 10%;
}
.full-img span{
    position:absolute;
    top: 50%;
    right:5%;
    font-size:30px;
    color:white;
    cursor:pointer;
}
.maincontainer3{
    display:flex;
    width:100%;
    height:100vh;
    justify-content: center;
    scroll-snap-align: center;
    background: #111;
}
#drag-container, #spin-container{
    position:relative;
    display: -webkit-box;
    display:-ms-flexbox;
    display:flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
    z-index: 1;
}
#drag-container img, #drag-container video {
    -webkit-transform-style:preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow:0 0 #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}
#drag-container img:hover, #drag-container video:hover{
    -webkit-box-shadow: 0 0 15px #fffd;
    box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);   
}
#drag-container p{
    font-family:serif;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    color: #fff;
}
#ground{
    width: 900px;
    height: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50% -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side, #9993,transparent);
}

@media only screen and (max-width : 1280px){
    @keyframes IntroTrans{
        from{
            height:1px;
            width:1px;
            margin-bottom:10px;
        }
        to
        {
            width:70%;
            height:80%;
            opacity:1;
        }
    }    
    @keyframes Imagetrans{
        from{
            height:1px;
            width:1px;
            margin-top:75%;
            opacity:.3;
        }
        to
        {
            width:70%;
            height:40%;
            opacity:1;
        }
    }
   .leftcontainer{
        display:flex;
        height:50%;
        width:100%;
        align-items: center;
        justify-content: center;
        position:absolute;
        z-index: 1;
        justify-self: center;
    }
    .profpic{
        animation: Imagetrans 2s ease-in-out .5s 1 normal forwards, boarderblink 500ms ease infinite;
    }
    .rightcontainer{
        padding-top:33%;
        height: 90%;
    }
    .aboutme{
        animation: IntroTrans 1s ease-in-out 2s 1 normal forwards, boarderblink 500ms ease infinite ;
    }
}

@media only screen and (max-width : 768px){
    aside, aside ul, aside ul li,aside ul li a{
    display:none;
    }
    .icons img{
        height:25px;
        width:25px
    }
    .icons img:nth-child(5){
        top:30%;
    }   
    .rightcontainer{
        padding-top:75%;
    }
    .aboutme{
        text-align: start;
    }
    .aboutme h1{
        font-size:15px;
        margin-left:5%;
    }
    .aboutme h3{
        font-size:10px;
        margin-left:5%;
    }

}
