@import './components/functionCenter';
@import './components/redColumn';
@import './components/blueColumn';
@import './components/pinkColumn';
@import './components/blackColumn';
@import './components/hide';
@import './components/border';
@import './components/noidsTxt';



/* .header h5{
     
        color: rgb(0, 0, 0);
        height: 15px;
        width: 15px;
        margin-top: 0px;
        display: inline-block;
        vertical-align: top;
        padding: 20px;
        border: 0px;
    } */
            /* .sideNumbers 
        {
            width: 55px;
            min-height: 150px;
            margin-left: 53px;
            display: inline-block;
            vertical-align: top;
        } */

        /* .sideNumbers h5
    {
        color: rgb(0, 0, 0);
        height: 15px;
        width: 15px;
        margin-top: 3px;
        margin-bottom: 3px;
        display: inline-block;
        vertical-align: top;
        padding: 20px;
        border: 0px;
    } */

  

            /* .redColumn h5
        {   

        background-color: rgb(180, 11, 62);
    
        } */

    

            /* .pinkrows h5
        {
        background-color: rgb(235, 140, 212);
   
        } */

   

            //     .blueRow h5
            // {
            //     background-color: rgb(134, 162, 241);
        
            // }   
        
         

        /* .blackRows h5
    {
        background-color: rgb(0, 0, 0);
       
    } */
  
        
         

