body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    background-color: 234, 231, 220;
}
div{
    margin: 0px auto;
    border-radius: 10px;
    margin-top: 10px;
    max-width: 1325px;
    min-height: 50px;
}
div.mainContent{
    width: 1000px;
    height: 1000x;
    background-color: rgba(247, 231, 173, 0.7);
    border: 2px solid black;
}
    div.header{
        width: 1000px;
        height: 30px;
        margin: 0px auto;
        margin-top: 10px;
        margin-left: 0px;
        background-color: rgba(187, 0, 0, 0.3);
    }
        div.header h1{
            margin: 0px auto;
            margin-top: 10px;
            margin-left: 390px;
            color: rgb(255, 248, 154);
            font-size: 30px;
            text-shadow: 1px 1px 2px rgb(10, 7, 7), 0 0 1em rgb(211, 255, 140), 0 0 0.2em rgb(163, 209, 77);
            font-weight:900;
        }
    div.mainContent div.profilePic{
        width: 400px;
        height: 350px;
        margin: 0px auto;
        margin-top: 10px;
        margin-left: 60px;
        margin-right: 10px;
        display: inline-block;
        padding: 10px;
    }
        div.profilePic img{
            width: 300px;
            height: 300px;
            margin: 0px auto;
            margin-top: 10px;
            margin-left: 30px;
            border: 1px solid black;
            border-radius: 50%;
        }
    div.mainContent div.myName{
        width: 400px;
        height: 350px;
        margin: 0px auto;
        margin-top: 10px;
        margin-left: -5px;
        margin-right: 0px;
        background-color: rgb(7, 114, 207, 0.3);
        display: inline-block; 
        vertical-align: top;
        padding: 10px;
    }
        div.myName h1{
            font-size: 20px;
            margin: 0 auto;
            margin-top: 20px;
            margin-left: 10px;
            color: rgb(19, 19, 17);
            font-size: 90px;
           font-weight: bolder;
        }
    div.mainContent div.aboutMe{
        width: 950px;
        min-height: 200px;
        margin: 0px auto;
        margin-top: 2px;
        margin-left: 15px;
        margin-right: 0px;
        background-color: rgba(243, 40, 40, 0.6);
        vertical-align: top;
        border-radius: 10px;  
    }
        div.aboutMe h3{
            font-size: 16px;
            color: rgb(0, 0, 0);
            padding-left: 10px;
            padding-bottom: 3px;
            }
        div.aboutMe h1{
            font-size: 40px;
            background-color: rgb(7, 114, 207, 0.6);
            border: none;
            border-radius: 10px;
            padding-left: 5px;
        }

    div.techIcons1, div.techIcons2, div.techIcons3{
        width: 250px;
        height: 250px;
        margin: 0px auto;
        margin-top: 2px;
        margin-left: 25px;
        margin-right: 0px;
        background-color: rgba(61, 63, 63, 0.6);
        display: inline-block;
    }
    div.techIcons2{
        margin-left: 100px;
    }
    div.techIcons3{
        margin-left: 94px;
    }


    div.technology div{
        width: 250px;
        min-height: 100px;
        margin: 0px auto;
        margin-top: 0px;
        margin-left: 25px;
        background-color: rgba(243, 40, 40, 0.6);
        vertical-align: top;
        border: 0px none;
        border-radius: 10px;
        padding-left: 2px;
        display: inline-block;
        margin-bottom: -11px;
    }
    div.technology .tech2{
        margin-left: 100px;
    }
    div.technology .tech2{
        margin-left: 94px;
    }
    div.technology h1{
        font-size: 28px;
            background-color: rgb(7, 114, 207, 0.6);
            border: none;
            border-radius: 10px;
            padding-left: 2px;
            margin: 0px auto;
            margin-top: 0px;
    }
    div.technology img{
        width: 200px;
        height: 200px;
        margin: 0px auto;
        margin-left: 20px;
        margin-top: 20px;
    }
    div.technology p{
        font-size: 18px;
        margin: 0 auto;
        margin-left: 5px;
    }
div.techIconsParent img{
    width: 50px;
    height: 50px;
    margin: 0px auto;
    margin-left: 8px;
    margin-top: 30px;
}
    div.techIconsParent h2{
        margin: 0px auto;
        background-color: yellowgreen;
}
    div.techIcons1, div.techIcons2, div.techIcons3{
        background-color: rgba(243, 40, 40, 0.6);
    }
    div.techIconsParent button{
        margin: 0px auto;
        margin-top: 15px;
        margin-left: 80px;
        background-color: brown;
    }
    div.mainContent div.footer{
        width: 1000px;
        height: 80px;
        background-color: rgba(61, 63, 63, 0.6);
        background-color: rgba(243, 40, 40, 0.6);
    }

    div.footer .imageLinkFooter{
        margin: 0px auto;
        margin-top: -40px;
        margin-left: 300px;
    }
        div.footer .imageLinkFooter img{
            width: 20px;
            height: 20px;
            margin-left: 10px;
            margin-right: 10px;            
        }
        div.footer span{
            font-size: 20px;
            margin-left: 0px;
        }
        div.footer h1{
            margin: 0px auto;
            margin-left: 290px;
            margin-bottom: 10px;
        }