*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}   
nav {
    flex: 1;
    background-color: aqua;
    }
div.mainContainer {
    display: flex;
    flex: 5;
    flex-direction: column;
}   
    div.mainContainer .mainContent {
            display: flex;
            flex-direction: row;
        }
        div.mainContainer article {
            flex: 2;
            min-height: 60vh;
        }
        div.mainContainer aside {
            flex: 1;
            background-color: beige;
        }
        div.mainContainer header, footer {
            background-color: #99ce09;
            height: 20vh;
        }




